@charset "utf-8";    

*{
    margin: 0px;
    padding: 0px;
}

:root{
    --cor01: rgba(161,30,34)
}
header{
    background-color: lightgray;
    margin: auto;
    max-width: 800px;
    min-width: 400px;
    position: relative;
}

h1{
    text-align: center;
    padding: 20px;
}

.contato{
    padding-left: 20px;
    font-size: 1.2em;
}

img{
    max-width: 50px;
    max-height: 40px;
    width: auto;
    height: auto;
    padding-left: 20px;
    padding-top: 10px;
}

#email{
    position: absolute;
    max-width: 600px;
    top: 79%;
    left: 13%;
}