@charset "utf-8";    

*{
    margin: 0px;
    padding: 0px;
}

:root{
    --cor01: rgba(161,30,34)
}

header{
    display: inline-block;
    max-width: 600px;
    min-width: 550px;
}

header h1{
    color: var(--cor01);
}

aside{
    position: absolute;
    background-color: rgba(211, 211, 211, 0.267);
    padding: 8px 0px 7px 10px;
    border: 1px;
    left: 100%;
    top: 0%;
    transform: translate(-100%,0%);
    max-width: 800px;
    min-width: 200px;
    
}

main > aside > h3{
    background-color: rgba(185, 183, 183, 0.199);
}

aside h3{
    font-size: 1.5em;
    text-align: center;
    color: var(--cor01);
    text-decoration: underline;
}

#telefone{
    background-image: url('../imagens/telephone-fill.svg');
    background-size: contain;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    margin: 0px;
    margin-top: 10px;}

#telefone_1{
    max-width: 740px;
    min-width: 100px;
    position: absolute;
    left: 53px;
    top: 44px
;
}